certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.0.0
coloredlogs==15.0.1
cryptography==38.0.3
deprecation==2.1.0
ffmpeg==1.4
ghostscript==0.7
humanfriendly==10.0
img2pdf==0.4.4
lxml==4.9.1
numpy==1.25.2
ocrmypdf==14.0.1
opencv-python==4.8.1.78
packaging==21.3
pandas==2.1.0
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.2
pikepdf==6.2.1
Pillow==8.1.0
pluggy==1.0.0
pycparser==2.21
PyMuPDF==1.18.6
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.18.0
pytesseract==0.3.10
python-dateutil==2.8.2
pytz==2023.3.post1
pyzbar==0.1.8
reportlab==3.6.12
scanprep==1.0.2
six==1.16.0
tqdm==4.64.1
typing_extensions==4.4.0
tzdata==2023.3
